/* line 1, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
.header {
  height: 750px;
  width: 100%;
  background: transparent;
  background: rgba(0, 0, 0, 0.4);
  padding-top: 10%;
  /* .header { */
  /* 	padding-top: 10%; */
  /* } */ }
  /* line 10, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .header p {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Playfair Display SC";
    text-align: center;
    margin: 0; }
  /* line 17, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .header .name {
    font-family: "Sigmar One";
    font-size: 8rem;
    line-height: 1; }
  /* line 22, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .header p:last-child {
    line-height: 2.4; }
  /* line 26, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .header span.r {
    letter-spacing: -0.05em; }
  /* line 30, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .header span.w {
    letter-spacing: -0.07em; }

/* line 35, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
.portfolio {
  width: 100%;
  padding: 0 10%;
  background: black; }
  /* line 39, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .portfolio .left {
    float: left; }
  /* line 43, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .portfolio .right {
    float: right; }
  /* line 47, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .portfolio .project {
    padding: 1.5em 0;
    width: 45%; }
  /* line 52, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .portfolio a {
    color: #f55; }
  /* line 56, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .portfolio p {
    text-align: center; }
  /* line 60, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .portfolio .tech {
    color: #0f0;
    text-align: center; }
  /* line 64, /Users/frankwang/src/ProjectFrank.github.io/source/css/index.scss */
  .portfolio .thumbnail {
    width: 100%;
    height: auto; }
