/* line 1, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
* {
  box-sizing: border-box;
  /*    border: 1px solid black;*/ }

/* line 6, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
html {
  background-color: #DDD;
  /*font-size: 0.8125em;*/
  font-size: 13px; }

/* line 12, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
main {
  background-color: #FFF;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  width: 100%;
  min-width: 320px;
  max-width: 850px;
  margin: 0 auto;
  padding: 70px; }

/* line 23, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
main {
  /*    margin: 0 9%;*/ }

/* line 27, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
p {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.5rem; }

/* line 33, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
h1 {
  border-bottom: 2px solid #999;
  margin: 0;
  font-family: Oswald, Arial;
  font-size: 4rem;
  font-weight: bold;
  width: 100%; }

/* line 42, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
h2 {
  margin-bottom: 0.5rem;
  font-family: Oswald;
  font-size: 1.5rem; }

/* line 48, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
h3 {
  margin: 0;
  font-size: 1.5rem; }

/* line 53, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
h4 {
  font-size: 1.2rem;
  margin: 0; }

/* line 58, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
h5 {
  font-size: 1.25rem;
  margin: 0 0 1% 0; }

/* line 63, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
#dp {
  float: right;
  width: 20%; }

/* line 68, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
a {
  text-decoration: none;
  color: black; }

/* line 73, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
a:hover {
  color: brown; }

/* line 77, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
#summary {
  padding-bottom: 1.6rem; }

/* line 81, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
#summary li {
  margin-bottom: 0.8rem;
  font-size: 1.3rem; }

/* line 86, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
#summary ul {
  margin: 0.5rem 0 0 0;
  padding-left: 1.6rem; }

/* line 91, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
li {
  margin-bottom: 0.25rem; }

/* line 95, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
dl {
  margin-top: 2.3rem;
  margin-bottom: 0;
  overflow: hidden; }

/* line 101, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
dt {
  font-family: Oswald, Times;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
  padding: 0 1rem 0 0;
  float: left;
  width: 20%; }

/* line 111, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
dd {
  border-left: 1px solid black;
  padding: 0 0 0 1rem;
  float: right;
  width: 80%;
  margin: 0 0 4% 0; }

/* line 119, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
dd.achievements {
  margin-bottom: 0; }

/* line 123, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
dd ul {
  margin: 0 0 0.7rem 0;
  font-size: 1.2rem;
  padding-left: 1.5rem; }

/* line 129, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
.right {
  font-size: 1rem;
  display: block;
  float: right;
  margin-top: 0.25rem; }

/* line 136, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
h3 .right {
  margin-top: 0.5rem; }

/* line 140, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
.icon {
  height: 4rem; }

/* line 144, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
.icon:hover {
  height: 4.5rem; }

/* line 148, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
.clear {
  clear: both; }

@media print {
  /* line 153, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  img {
    display: none; }

  /* line 157, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  body {
    width: 850px;
    padding: 5% 3%; }

  /* line 162, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  main {
    padding: 0; }

  /* line 166, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  nav {
    display: none; }

  /* line 170, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  #background {
    display: none; }

  /* line 174, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  a:after {
    content: "" !important; } }
@media (false) and (max-width: 750px) {
  /* line 180, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  dd {
    border-left: 0 solid black;
    padding-left: 0;
    width: 100%;
    float: none; }

  /* line 187, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  main {
    padding: 5% 3%; }

  /* line 191, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  .clear {
    border: 0px solid black; }

  /* line 195, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  dt {
    border-bottom: 2px solid black;
    width: 100%;
    text-align: left;
    float: none; } }
@media (false) and (max-width: 600px) {
  /* line 204, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  #dp {
    display: none; }

  /* line 208, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  .icon {
    display: none; }

  /* line 212, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  html {
    font-size: 10px; } }
@media (false) and (max-width: 360px) {
  /* line 218, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  html {
    font-size: 8px; }

  /* line 222, /Users/frankwang/src/ProjectFrank.github.io/source/css/resume.scss */
  dd ul {
    padding-left: 1.8rem; } }
