$white: #ddd;

#main {
    padding: 2rem;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    width: calc(100% - 187px);
    float: right;
    color: $white;
    font-size: 1.5rem;

    .tags {
	font-style: italic;
	text-decoration: underline;
	a:after {
	    content: ", ";
	}
	a:last-child:after {
	    content: "";
	}
    }

    .readmore {
	margin-bottom: 2rem;
    }
}

aside {
    padding: 1rem;
    background: rgba(255,255,255,0.2);
    color: $white;
    width: 187px;
    text-align: center;
    ul {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
	font-size: 1.2rem;
    }
    ul:last-child {
	margin-bottom: 0;
    }
    h1 {
	line-height: 1;
	margin-top: 0;
	font-family: "Sigmar One";
	color: $white;
	font-size: 2rem;
    }
    h1:hover {
	color: inherit;
    }
    h3 {
	font-size: 1.5rem;
	margin: 0;
    }
}

a.edit {
    display: block;
}
.card {
    .octicon {
	font-size: 1.25rem;
	vertical-align: 20%;
    }
    display: block;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
    perspective: 700px;
    height: 30px;
    width: 200px;
    .front, .back {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
    }
    .back {
	transform: rotateX(180deg);
    }
}

a:hover .card{
    transform: rotateX(180deg);
}

@media (max-width: 500px) {
    aside {
	width: 120px;
    }

    #main {
	width: calc(100% - 120px);
    }
}