

#home {
    height: 750px;
    width: 100%;
    background: transparent;
    background: rgba(0,0,0,0.4);
    padding-top: 10%;
    /* .header { */
    /* 	padding-top: 10%; */
    /* } */
    p {
	font-size: 1.5rem;
	font-weight: 400;
	font-family: "Playfair Display SC";
	text-align: center;
	margin: 0
    }
    .name {
	font-family: "Sigmar One";
	font-size: 8rem;
	line-height: 1;
    }
    p:last-child {
	line-height: 2.4;
    }

    span.r {
	letter-spacing: -0.05em;
    }

    span.w {
	letter-spacing: -0.07em;
    }
}

.subpage {
    padding: 10%;
}

#portfolio {
    width: 100%;
    background: rgb(0,0,0);
    .left {
	float: left;
    }

    .right {
	float: right;
    }

    .project {
	padding: 1.5em 0;
	width: 45%;
    }
    
    p {
	text-align: center;
    }
    
    .tech {
	color: #0f0;
	text-align: center;
    }
    .thumbnail {
	width: 100%;
	height: auto;
    }
}

#about {
    background: rgb(0,0,0);
    width: 100%;
    .portrait-container {
	margin: 0;
	float: left;
	width: 30%;
	border: 5px dashed white;
	margin-top: 5%;
	.portrait {
	    width: 100%;
	    height: auto;
	}
    }
    .description {
	margin-top: 5%;
	float: right;
	width: 60%;
    }
}