$footer-height: 300px;
$nav-height: 55px;
$white: #ddd;
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    background-image: url("http://i.imgur.com/8DtvYY1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans";
    font-weight: 300;
    position: relative;
    padding: $nav-height 0 $footer-height;
    min-height: 100%;
}

#page-contents {
    position: relative;
    width: 100%;
    color: $white;
}

h2 {
    margin: 0;
    font-size: 3rem;
    font-family: "Open Sans";
    font-weight: 600;
}

.h2-container {
    border-bottom: 5px solid $white;
}

.h2-sub {
    font-family: "Open Sans Condensed";
    margin-top: 10px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #D33D2D;
}

a:hover {
    color: #FC7162;
}

nav {
    background: rgb(0,0,0);
    background: rgba(0,0,0,.5);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: $nav-height;
    padding: 0;
    text-align: center;
    line-height: $nav-height;
    z-index: 2;
    div {
	color: $white;
	display: inline-block;
	position: relative;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 1.5rem;
	height: $nav-height;
    }
    a {
	display: inline-block;
	color: inherit;
	text-align: center;
	padding: 0 3em;
    }
    a:after {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	opacity: 0;
	content: "";
	border-bottom: 3px solid #D33D2D;
	transition: 0.3s;
    }
    a:hover:after {
	left: 0;
	width: 100%;
	opacity: 1;
    }
}

footer {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: $footer-height;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-size: 6rem;
    line-height: 1.4;
    letter-spacing: 1rem;
    a {
	line-height: $footer-height;
    }
}

@media (max-width: 880px) {
    nav {
	a {
	    font-size: 1.2rem;
	    padding: 0 1.5em;
	}
    }
}

@media (max-width: 500px) {
    html {
	font-size: 10px;
    }

    body {
	padding-bottom: $footer-height / 2;
    }
    
    footer {
	height: $footer-height / 2;
	a {
	    line-height: $footer-height / 2;
	}
    }
}