<footer>
  <a href="http://github.com/ProjectFrank/" target="_blank">
    <i class="fa fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/pub/frank-wang/18/697/692" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="http://twitter.com/TheFrankProject" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>	  
  <a href="mailto:frankwangt@gmail.com" target="_blank">
    <i class="fa fa-at"></i>
  </a>
</footer>
