---
projects:
  - align: right
    thumb_url: resume-thumbnail.png
    description: >
      A browser version of my resume that I created using basic HTML,
      CSS, and responsive design.
    tech: HTML5 - CSS3 - Responsive Design
    url: resume/
  - align: left
    thumb_url: citeit-thumbnail.png
    description: >
      Cite It is a web application that uses the Open Library API to
      generate a customizeable citation in APA, MLA, or Chicago, for
      any book you type in.
    tech: HTML5 - CSS3 - JavaScript - jQuery - Responsive Design
    url: http://projectfrank.github.io/citeit/
---
<!-- Add your site or application content here -->
  <div id="home">
    <p>Hi, I'm</p>
    <p class="name">f<span class="r">r</span>ank <span class="w">w</span>ang</p>
    <p>I build beautiful bytes.</p>    
  </div>

  <div id="about" class="subpage clearfix">
    <div class="h2-container">
      <h2>About Me</h2>
    </div>
    <div class="portrait-container">
      <%= image_tag "portrait.jpg", :class => "portrait" %>
    </div>
    <div class="description">
      <p>I'm a Front-End Web Developer based in Toronto who loves making websites that look and feel amazing.</p>
      <p>I am currently a student at the <%= link_to 'HackerYou', 'http://www.hackeryou.com', :target => "_blank" %> Front-End Web Development Immersive, and I have an undergraduate degree in Business Administration from the <%= link_to 'Schulich School of Business', 'http://www.schulich.yorku.ca', :target => "_blank" %>.</p>
      <p>When I'm not at my computer, I'm probably in my garage gym or playing boardgames with friends.</p>
    </div>
  </div>

  <div id="portfolio" class="subpage clearfix">
    <div class="h2-container">
      <h2>My Portfolio</h2>
    </div>
    <% current_page.data["projects"].each do |project| %>
    <%= partial(:project, :locals => project) %>
    <% end %>
  </div>
<% content_for :script do %>
<script>
  smoothScroll.init({easing: 'easeInOutQuad', updateURL: false});
</script>
<% end %>
