---
title: Frank's Homepage
gfont: Playfair+Display+SC:400|Sigmar+One
projects:
  - align: right
    thumb_url: resume-thumbnail.png
    description: >
      An browser version of my resume that I created using basic HTML,
      CSS, and responsive design.
    tech: HTML5 - CSS3 - Responsive Design
    url: /resume/
  - align: left
    thumb_url: citeit-thumbnail.png
    description: >
      Cite It is a web application that uses the Open Library API to
      generate a customizeable citation in APA, MLA, or Chicago, for
      any book you type in.
    tech: HTML5 - CSS3 - JavaScript - jQuery - Responsive Design
    url: http://projectfrank.github.io/citeit/
---
<!-- Add your site or application content here -->
<div id="home">
    <p>my name is</p>
    <p class="name">f<span class="r">r</span>ank <span class="w">w</span>ang</p>
    <p>and i'm a front-end developer</p>
</div>

<div id="portfolio" class="clearfix">
  <div class="h2-container">
    <h2>My Portfolio</h2>
  </div>
  <% current_page.data["projects"].each do |project| %>
    <%= partial(:project, :locals => project) %>
  <% end %>
</div>
<%= javascript_include_tag 'bind-polyfill', 'smooth-scroll' %>
<script>
  smoothScroll.init({easing: 'easeInOutQuad', updateURL: false});
</script>
