---
title: HTML5 Boilerplate Middleman
elements:
  - element 1
  - element 2
---

<!-- Add your site or application content here -->
<p>Hello world! This is HTML5 Boilerplate.</p>
<h3>Elements:</h3>
<ul>
  <% current_page.data.elements.each do |e| %>
    <li>
      <%= e %>
    </li>
  <% end %>
</ul>

