---
projects:
 
  - align: left
    thumb_url: gluttony.png
    description: >
      Gluttony is a jQuery plugin that generates an infinite scrolling
      feed using content from almost any API, inspired by Reddit Silver.
    tech: JavaScript - AJAX - jQuery
    url: http://github.com/projectfrank/gluttony
  - align: right
    thumb_url: redditsilver.png
    description: >
      Reddit Silver is my first ReactJS project. It features performance
      optimized infinite scrolling and displays images and comments
      from Reddit.
    tech: ReactJS - Javascript - AJAX - HTML5 - CSS3
    url: http://projectfrank.github.io/redditsilver
  - align: left
    thumb_url: solido.png
    description: >
      Solido is a project I undertook as an exercise in converting
      PhotoShop files to actual websites, while using my imagination
      for responsive design decisions.
    tech: HTML5 - CSS3 - Responsive Design - JavaScript - jQuery
    url: http://projectfrank.github.io/solido
  - align: right
    thumb_url: dapperbox.png
    description: >
      dapperBox is a fully responsive jQuery gallery featuring a 
      layout algorithm inspired by MasonryJS. Animations are optimized using the
      GreenSock Animation Platform.
    tech: GreenSock - JavaScript - jQuery - Responsive Design - HTML5 - CSS3
    url: http://projectfrank.github.io/gallery
  - align: left
    thumb_url: citeit-thumbnail.png
    description: >
      Cite It was the first web application I made (Before HackerYou).
      It uses the Open Library API to find and provide citations for books.
    tech: HTML5 - CSS3 - JavaScript - jQuery - Responsive Design
    url: http://projectfrank.github.io/citeit/
  - align: right
    thumb_url: resume-thumbnail.png
    description: >
      A browser version of my resume that I created using basic HTML,
      CSS, and responsive design.
    tech: HTML5 - CSS3 - Responsive Design
    url: resume/
---
<!-- Add your site or application content here -->
  <div id="home">
    <p>Hi, I'm</p>
    <p class="name">f<span class="r">r</span>ank <span class="w">w</span>ang</p>
    <p>I build beautiful bytes.</p>    
  </div>

  <div id="about" class="subpage clearfix">
    <div class="h2-container">
      <h2>About Me</h2>
    </div>
    <div class="portrait-container">
      <%= image_tag "portrait.jpg", :class => "portrait" %>
    </div>
    <div class="description">
      <p>I'm a Front-End Web Developer based in Toronto who loves making websites that look and feel amazing.</p>
      <p>I am currently a student at the <%= link_to 'HackerYou', 'http://www.hackeryou.com', :target => "_blank" %> Front-End Web Development Immersive, and I have an undergraduate degree in Business Administration from the <%= link_to 'Schulich School of Business', 'http://www.schulich.yorku.ca', :target => "_blank" %>.</p>
      <p>I'm rarely away from my computer, but when I am, you'll find me at the gym or hanging around HackerYou!</p>
    </div>
  </div>

  <div id="portfolio" class="subpage clearfix">
    <div class="h2-container">
      <h2>My Portfolio</h2>
    </div>
    <% current_page.data["projects"].each do |project| %>
    <%= partial(:project, :locals => project) %>
    <% end %>
  </div>
<% content_for :script do %>
<script>
  smoothScroll.init({easing: 'easeInOutQuad', updateURL: false});
</script>
<% end %>
