---
title: Frank's Resume
stylesheet: resume
gfont: Oswald:700,400|Open+Sans+Condensed:300,300italic,700
---
<% content_for :nav do %>
<div class="button-box">
  <% link_to image_path('frank_resume.pdf') do %>
    <div class="button">
      <p>PDF</p>
    </div>
  <% end %>
  <a href="javascript:window.print()">
    <div class="button">
      <p>Print</p>
    </div>
  </a>
</div>
<% end %>
<header>
  <img id="dp" src="http://i.imgur.com/uXW59oF.jpg" alt="Photo of Frank Wang" title="Frank Wang" />
  <h1>
    Frank Wang  <a href="http://ca.linkedin.com/pub/frank-wang/18/697/692"><img class="icon" src="http://icons.iconarchive.com/icons/iconshock/high-detail-social/256/linkedin-icon.png" alt="LinkedIn Profile" title="LinkedIn"/></a>
  </h1>
  <p>Mobile: <a href="tel:+16475885288">647-588-5288</a> <br />
    Email: <a href="mailto:frank.wangtao@gmail.com">frank.wangtao@gmail.com</a></p>

</header>
<div id="summary">
  <h2>Summary of Qualifications</h2>
  <ul>
    <li>Excellent communication skills developed through customer interactions at Scotiabank</li>
    <li>Fine attention to detail demonstrated as a Deposit Teller processing high volumes of transactions</li>
    <li>Made key business decisions using financial data as a Managing Director and founder of The Parkway Place</li>
    <li>Applied problem solving skills acquired through math competitions toward resolving customer issues at Scotiabank</li>
  </ul>
</div>


<dl>
  <dt>Education</dt>

  <dd>
    <h3>Schulich School of Business - York University</h3>
    <h4>Bachelor of Business Administration <em>(Accounting)</em><span class="right"> Class of 2013</span></h4>
  </dd>
  <dt class="clear"></dt>

  <dt>Experience</dt>

  <dd>
    <h3>Managing Director, <em>The Parkway Place</em><span class="right">Sept '13 - Present</span></h3>

    <ul>
      <li>Founded guesthouse providing quality accommodations for budget travelers</li>
      <li>Earned 93% review rating through excellent service and clear communication</li>
    </ul>

    <h3>Strength Coach, <em>CCYAA Power Through Paddling</em><span class="right">Jun '12 - Present</span></h3>

    <ul>
      <li>Government funded youth dragon boat program aimed at boosting activity levels of children in need</li>
      <li>Developed effective training programs for boosting strength of young athletes</li>
      <li>Led team of volunteer coaches to safely execute programming while providing support</li> 
    </ul>

    <h3>Deposit Teller, <em>Scotiabank</em><span class="right">Sept '12 - Oct '13</span></h3>
    
    <ul>
      <li>Maintained attention to detail over high volume of transactions, handling millions in cash</li>
      <li>Exceeded performance expectations with rate of 50 transactions per hour without material error </li>
    </ul>
    
    <h3>Customer Service Representative, <em>Scotiabank</em><span class="right">Mar '12 - Aug '12</span></h3>

    <ul>
      <li>Built valuable customer relationships while efficiently meeting their retail banking needs</li>
      <li>Developed excellent verbal communication skills through daily client interaction</li>
    </ul>                       
  </dd>

  <dt class="clear"></dt>

  <dt class="achievements">Achievements</dt>

  <dd class="achievements">
    <h5>Finalist, <em>RISE Case Competition (Accounting Discipline)</em><span class="right">2012</span></h5>
    <h5>Certificate of Distinction, <em>Euclid Mathematics Contest</em><span class="right">2009</span></h5>
    <h5>Excellence in Mathematics Award, <em>York Region District School Board</em><span class="right">2009</span></h5>
  </dd>
</dl>

<% content_for :aside do %>
  <div class="button">
    <p>Download PDF</p>
  </div>

  <div class="button">
    <p>Print</p>
  </div>
<% end %>
